*.m3u
*.png
logs/*
utils/*.json

temp/favicon.ico
utils/__pycache__/*
__pycache__/*
gui/__pycache__/*
.idea/*
torrents/*
playlists/*
playlists/A.I.C.O.
.idea/get-anime.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/get-anime.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
