aiohttp>=3.11.18
attrs~=25.3.0
beautifulsoup4~=4.13.4
greenlet~=3.2.2
jinja2~=3.1.6
Pillow>=11.2.1

pyinstaller~=6.17.0
pydantic
pytest~=8.3.5
python-dotenv~=1.1.0
python-vlc
PyQt5~=5.15.11
pyzbar~=0.1.9
pyzipper~=0.3.6
qrcode~=8.2
requests>=2.32.3
requests_toolbelt
SQLAlchemy~=2.0.41
tqdm~=4.67.1
typing_extensions~=4.13.2

httpx~=0.27.2
playwright~=1.52.0