body {
	font-size: 12pt;
	color: #000;
	font-weight: bold;
	padding: 20px;
	border: 1px solid #444;
	margin: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	margin-right: 5px;
	text-align: right;
}
h3, p, ul, li {
	margin: 5px 0;
	text-shadow: 1px 1px 2px #FFF;
	background: rgba(255, 255, 255, 0.5);
	padding: 3px 6px;
	border-radius: 3px;
	display: inline-block;
	-webkit-user-select: none;
	user-select: none;
	line-height: 0.9;
	margin-left: 100px;
}
.reload {
	text-align: left;
	margin-left: -50px;
	/*for icon*/
	font-size: 30pt;
}
.header_episodes {
	text-align: left;
}
.episodes {
	text-align: left;
	background: rgba(255, 255, 255, 0.5);
	display: inline-block;
	border-radius: 3px;
}
.header_span {
	text-align: right;
	background: rgba(255, 255, 255, 0.5);
	/*for icon*/
	font-size: 12pt;
	margin-bottom: 15px;
}
.header_p {
	text-align: left;
}
.header_left {
	text-align: right;
	margin-left: 40px;
	background: rgba(255, 255, 255, 0.0);
}
.header {
	font-size: 29pt;
	text-shadow: 1px 1px 2px #FFF;
	display: inline-block;
	margin-bottom: 15px;
	line-height: 0.9;
	padding: 5px 8px;
}
a {
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 3px;
	-webkit-user-select: none;
	user-select: none;
}
a:link, a:visited {
	color: #000;
	text-shadow: 1px 1px 2px #FFF;
}
a:active {
	color: #FFF7D6;
	background: rgba(0, 0, 0, 0.7);
	text-decoration: underline;
}
ul {
	padding-left: 20px;
	list-style-position: inherit;
	margin-right: 15px;
}
li {
	margin-bottom: 8px;
	text-align: left;
	line-height: 0.8;
	margin-left: 50px;
}
div {
	padding-top: 10px;
	padding-bottom: 10px;
}
h3:active, p:active, li:active {
	background: rgba(255, 255, 255, 0.2);
}
.header:active {
	background: rgba(0, 0, 0, 0.8);
	color: #FFE55C;
}
.decorate_name {
    background: rgba(0, 0, 0, 0.7);
    color: #FF1630;
    padding: 3px 12px;
}